<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Upload status</title>
</head>
<body>
	<div th:if="${msg}">
		<span th:text="${msg}"></span>
	</div>
	<div>
		<p><a href="/">Upload OneMore File</a></p>
		<p><a target="_blank" href="/json">Show JSON Output</a></p>
	</div>
	<div th:if="${not #lists.isEmpty(DBContents)}">
		<div th:if="${Original_Size<=1000}">
			<h2> DataBase Contents</h2>
		</div>
		<div th:if="${Original_Size>1000}">
			<h2> DataBase Contents (first 1000 rows are shown)</h2>
		</div>
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Value</th>
			</tr>
			<tr th:each="DBItem : ${DBContents}">
				<td th:text="${DBItem.ID}"></td>
				<td th:text="${DBItem.Name}"></td>
				<td th:text="${DBItem.Value}"></td>				
			</tr>
		</table>
	</div>
</body>
</html>